<%= simple_form_for(@template) do |f| %>  
  <fieldset>
    <%= f.input :name, :label => "Название", :hint => "Заголовок шаблона в истории болезни.", :autofocus => true %>
  </fieldset>
  
  <fieldset class="last-child">    
    <%= f.input :body, :label => "Содержание" %>
  </fieldset>

  <div class="actions">
    <%= f.submit submit_label %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>
<% end %>

<script type="text/javascript">
  $('textarea#template_body').autoResize({
    // Quite slow animation:
    animateDuration : 500
  });
</script>
