<%= simple_form_for([@patient, @appointment]) do |f| %>
  <fieldset>
    <%= f.input :created_at, :as => :date, :label => "Дата" %>
    <%= content_tag :div, :class => "input" do%>
      <%= f.label "Пациент" %>
      <%= @patient.abbreviated_name %>
    <% end %>
    <%= f.association :doctor, :label_method => :abbreviated_name, :include_blank => false, :label => "Врач" %>
  </fieldset>  
  
  <!-- fieldset class="last-child">
    <div id="teethChart" class="teeth-chart-wrap">
      <%= render "patients/teeth_chart" %>
    </div>
  </fieldset -->
  
  <table id="line_items_table">
    <thead>
      <tr>
        <th width="70%">Услуга</th>
        <th width="25%">Стоимость</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="input string">
            <input type="text" class="string" name="line_item_query" id="service_query", placeholder="Добавить услугу…" />
            <%= f.input :id, :as => :hidden, :input_html => { :value => "1" } %>
          </div>          
        </td>
      </tr>
    </tfoot>
    <tbody>
      <%= render Appointment.find(1).line_items %>
    </tbody>
  </table>
  
  <script id="line_item_template" type="text/html">
    <td>{{name}}</td>
    <td>{{price}}</td>
    <td>
      <div class="controls">
        <span class="delete">
          <a href="/line_items/{{id}}" data-remote="true" data-confirm="Вы уверены?" data-method="delete"><span class="icon"></span></a>
        </span>
      </div>
    </td>
  </script>
  
  <div class="actions">
    <%= f.submit "Сохранить" %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>
<% end %>
