<%= simple_form_for([@patient, @appointment]) do |f| %>
  <fieldset>
    <%= f.input :created_at, :as => :date, :label => "Дата" %>
    <%= content_tag :div, :class => "input" do%>
      <%= f.label "Пациент" %>
      <%= @patient.abbreviated_name %>
    <% end %>
    <%= f.association :doctor, :label_method => :abbreviated_name, :include_blank => false, :label => "Врач", :autofocus => true %>
  </fieldset>  
  
  <fieldset class="last-child">
    <div id="teethChart" class="teeth-chart-wrap">
      <%= render "patients/teeth_chart" %>
    </div>
  </fieldset>
  
  <div class="actions">
    <%= f.submit submit_label %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>
<% end %>
