<%= simple_form_for @appointment do |f| %>
  <fieldset>
    <%= f.input :created_at, :as => :date, :label => "Дата" %>
    <%= content_tag :div, :class => "input" do%>
      <%= f.label "Пациент" %>
      <%= link_to @appointment.patient.abbreviated_name, @appointment.patient %>
      <small style="margin-left: 0.83em; color: #666;">Карта №<%= @appointment.id %>.</small>
    <% end %>
    <%= f.association :doctor, :label_method => :abbreviated_name, :include_blank => false, :label => "Врач" %>
    <%= f.input :technician_name, :label => "Зубной техник" %>
  </fieldset>
  
  <table id="line_items_table">
    <thead>
      <tr>
        <th width="70%">Услуга</th>
        <th width="25%">Стоимость, руб.</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="summary">
        <td>Итого</td>
        <td colspan="2" id="price_sum"><%= @appointment.line_items.to_a.sum(&:price) %></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="input string">
            <input type="text" class="string" name="line_item_query" id="service_query", placeholder="Добавить услугу…" />
            <%= f.input :id, :as => :hidden, :input_html => { :value => @appointment.id } %>
          </div>          
        </td>
      </tr>
    </tfoot>
    <tbody></tbody>
  </table>
  
  <script id="line_item_template" type="text/html">
    <td>{{name}}</td>
    <td class="line_item-price">{{price}}</td>
    <td>
      <div class="controls">
        <span class="delete"><span class="icon"></span></span>
      </div>
    </td>
  </script>
  
  <hr class="solid" />
  
  <fieldset class="last-child">
    <legend>История</legend>
    <ul id="template_append_buttons">
      <li class="caption">Вставить шаблон:</li>
      <% @templates.each do |template| %>
        <%= content_tag_for(:li, template, :data => { :id => template.id }) do %>
          <%= template.name %>
        <% end %>
      <% end %>
      <li><%= link_to "Перейти к шаблонам", templates_path, :class => "admin", :target => "blank" %></li>
    </ul>
    <%= f.input :history, :as => :text, :hint => "История болезни пациента за это посещение." %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit "Сохранить" %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>  
<% end %>

<% content_for(:sidebar) { %>  
  <div class="sidebox-wrapper">
    <h5>Удалить это посещение?</h5>
    <p>Это безвозвратно удалит <strong>посещение</strong> пациента, <strong>список услуг</strong>, оказанных ему за это посещение, и <strong>историю болезни</strong> из системы. Сами услуги и шаблоны удалены не будут и останутся на своих местах.</p>
    <p><%= link_to "Удалить", @appointment, :class => "admin", :confirm => "Вы уверены?", :method => :delete %></p>        
  </div>
  
  <div class="sidebox-wrapper">
    <h5>Документы</h5>
    <%= link_to "Сформировать наряд", print_appointment_path(@appointment), class: "admin", target: "_blank" %> на основе этого посещения.
  </div>
<% } %>
